@media (max-width:640px ) {
   .content{
      flex-direction: column-reverse;
   }
   .content .left-content{
      width: 100%;
      padding-right: 0;
   }
   .content .right-content{
      width: 100%;
   }
}